/* page 1 */
/* Main Style */
body {
    font-family: "Roboto", sans-serif;
    background: var(--bg-white);
    color: var(--color-grey)
}

:root {
    --color-white: #f4f4fd;
    --color-blue: #2E2F42;
    --color-logo: #4D5AE5;
    --color-grey: #434455;
    --bg-white: #FFFFFF;
    --hov-foc-cl: #404BBF;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

/* Base styles */

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.adress {
    font-style: normal;
}
/* Header */
.header {
    padding: 24px 0;
}

.header-container {
    display: flex;
    justify-content:space-between ;
    
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    color: var(--color-logo);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    margin-left: 156px;
    margin-right: 76px;
}

.nav-logo-studio {
    color: var(--color-blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.nav-item:hover,
.nav-item:focus {
    color: var(--hov-foc-cl);
}
.nav-item {
    color: var(--color-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-item .link {
    text-decoration: none;
}
.contacts-list {
    display: flex;
    gap: 40px;
    margin-right: 156px;
}
.contacts-item {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-item:hover,
.contacts-item:focus {
    color: var(--hov-foc-cl);
}
/* main section Hero */
.section-hero {
    background-color: var(--color-blue);
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title {
    color: var(--bg-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn {
    color: var(--bg-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: #4D5AE5;
    letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hov-foc-cl);
}
.section-main {
    padding-top: 120px;
}
.main-title-list {
    display: flex;
    justify-content: space-between;
    margin-left: 156px;
    margin-right: 156px;
    gap: 24px;
}
.list-title-text {
    width: 264px;
}
.main-title {
    color: var(--color-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.main-text {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* middle section */

.middle-title {
    color: var(--color-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    padding-top: 120px;
}
.section-middle .list > .li {
    background-color: var(--color-white);
}
.section-middle {
    padding-top: 72px;
}
.middle-img {}

.section-team {
    background-color: var(--color-white);
    padding-top: 120px;
}
.our-team {
    color: var(--color-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 120px;
}
.team-photo-list {
    padding-top: 72px;
    padding-bottom: 120px;
}
.team-photo {
    background: var(--bg-white);
}
.team-name {
    color: var(--color-blue);
    background-color:  var(--bg-white);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-subtitle {
    color: var(--color-grey);
    background-color: var(--bg-white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer section */

.footer {
    background-color: var(--color-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo-studio {
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}
.footer-text {
    color: var(--color-white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 17.5px;
    width: 264px;
    margin-left: 156px;
}

/* Page 2 */

/* main section */

.main-section {}

.button-list {
padding-top: 96px;
}
.main-btn {
    color: var(--color-logo);
    background-color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.main-btn:hover,
.main-btn:focus {
    background-color: var(--hov-foc-cl);
    color: var(--bg-white);
}
.img-list {
    padding-top: 72px;
    padding-bottom: 120px;
}
.main-img {}
